<html>
    <head>
        <title>Example</title>
        <style>

        </style>
    </head>
    <body>
    {% block body_content %}
    {% endblock body_content %}

    <script src='https://code.jquery.com/jquery-2.2.1.min.js' type='text/javascript'></script>
    <script src='/static/js/main.js' type='text/javascript'></script>
    </body>
</html>
